
services:
  mysqldb:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3305:3306"
    volumes:
      - db_data:/var/lib/mysql   

  app:
    build: .
    depends_on:
      - mysqldb
    ports:
      - "3000:3000"
    

volumes:
  db_data: 